* {
  font-family: Helvetica, sans-serif;
}

header, footer {
  background-color: #333;
  height: 100px;
}

nav {
  /* border: 3px dashed orange; */
  width: 960px;
  margin: 0px auto;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 60px;
}

nav li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
}

a {
  text-decoration: none;
  color: #888;
}

main {
  width: 960px;
  margin: 30px auto;
}