* {
  font-family: Helvetica, sans-serif;
}

/********************************************/
/*******STYLES FOR THE HEADER SECTION********/
/********************************************/

header, footer {
  background-color: #333;
  height: 100px;
}

nav {
  /* border: 3px dashed orange; */
  width: 960px;
  margin: 0px auto;
}

header img {
  float: left;
  margin-top: 15px;
  margin-right: 60px;
}

nav li {
  display: inline-block;
  margin-top: 40px;
  margin-right: 75px;
}

a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  color: #888;
}

/******************************************/
/*******STYLES FOR THE MAIN SECTION********/
/******************************************/

main {
  width: 960px;
  margin: 30px auto;
}

main ul {
  padding-left: 0px;
}

main li {
  list-style: none;
  float: left;
  margin-top: 30px;
}

main li:nth-child(2) {
  margin: 30px 30px 30px 30px;
}

section img {
  float: left;
}

section div {
  width: calc(50% - 30px);
  float: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

section h2 {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

section div p {
  height: 330px;
  overflow: auto;
  font-style: italic;
  line-height: 24px;
}

button {
  border: none;
  padding: 10px 30px;
  background-color: #000;
  color: #FFF;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition: 350ms;
}

button:hover {
  background-color: green;
}

/********************************************/
/*******STYLES FOR THE FOOTER SECTION********/
/********************************************/
footer {
  clear: both;
}